body {
  background-color: #fff8f1;
}

.main {
  width: 80%;
  margin: auto;
}

.one {
  color: #fa6652;
  font-weight: bold;
  font-size: 25px;
  margin: 20px 20px 20px 0px;
}
.two {
  font-size: 45px;
  font-weight: 350;
  margin: 20px 20px 20px 0px;
}
.three {
  font-size: 25px;
  margin: 20px 20px 20px 0px;
}
.parentFlex {
  display: flex;
  margin: auto;

  justify-content: center;
  align-items: center;
  /* gap: 10%; */
}

.childFlex {
  width: 100%;
  gap: auto;
}
.buttons {
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 1000;
  font-size: 20px;
  background-color: #1d1e1c;

  position: relative;
  top: -1px;
}
.buttons:hover {
  opacity: 50%;
}

.buttonsFlex {
  display: flex;
  width: 100%;
  gap: 5%;
  justify-content: flex-start;
  align-items: flex-start;
}

.pFlex {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  gap: 5%;
}
.pFlexM {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  gap: 5%;
}
.lcard {
  border: 1px solid #fa6652;
  padding: 20px;
  border-radius: 20px;
}

.left:hover {
  color: #fa6652;
}

.width {
  width: 50%;
}

/* .big {
  font-family: Monarch, Georgia, "Times New Roman", serif;
  font-size: 48px !important;
  line-height: 56px !important;
  margin-top: 2px;
  font-style: normal;
  font-weight: 400;

  color: #1d1e1c;
  margin-bottom: 24px;
}
.ul {
  list-style: none;
}
.li {
  position: relative;
  padding: 0 10px 16px 0px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #6d6e6d;
}
ul li > p:before {
  content: "✓";
  color: black;
  font-size: large;
  font-weight: bold;
}

.span {
  font-weight: bold;
  color: black;
  padding-left: 10px;
}

.imageFlex {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  opacity: 40%;
  gap: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}



hr {
  border: 1px solid #fa6652;
} */

/*  */

@media only screen and (max-width: 844px) {
  .parentFlex,
  .pFlexM {
    flex-direction: column;
  }

  .width {
    width: 100%;
    /* margin: ; */
  }
}
